@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fcf9f5] text-stone-800 antialiased selection:bg-brand-200 selection:text-brand-900;
  }
}

@layer utilities {
  .skeleton {
    @apply bg-stone-200 animate-pulse rounded-md;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}
